#my-main-header{
  background-color: #333;
  text-align: center;
}

#my-main-header-title{
  color: #ffbf00;
  display: inline;
}

#my-main-header-paragraph{
  color: #a67c00;
  display: inline;
}

#my-navigation-links{
  text-align: center;
  margin-top: 50px;
}

#my-content{
  background-color: #d2d4dc;
  height: 800px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

#my-content-header{
  background-color: #afafaf;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

#my-content-labels{
  background-color: #d2d4dc;
  height: 20px;
}

#my-content-labels div{
  float: left;
  width: 150px;
  height: 20px;
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#my-content-labels #right{
    margin-left: 60px;
  }

#my-content-data-entry {
  background-color: #e5e6eb;
  clear: both;
  height: 60px;
  margin: 0;
}

#my-content-data-entry div{
  float:left;
}

#my-data-entry-textarea{
  float: left;
  background-color: #f8f8fa;
  resize: none;
  width:200px;
  height: 60px;
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-color: #afafaf;
  border-width: 1px;
}

#my-data-entry-dropdown{
  height: 60px;
  width: 100px;
  font-size: 20px;
  margin-left: 3px;
}

#my-data-entry-button{
  background-color: #ffbf00;
  text-align: center;
  height: 60px;
  width: 70px;
  margin-left: 15px;
  padding-top: 12px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 10px;
  border-style: solid;
  border-color: #afafaf;
  border-width: 1px;
}

#my-content-item{
  background-color: #e5e6eb;
  height: 60px;
  clear: both;
  border-style: solid;
  border-color: #afafaf;
  border-width: 1px;
}

#my-content-item div{
float: left;
margin-top: 3%;
}

#my-content-item i{
  float:right;
  margin-top: 1%;
  margin-right: 4%;
}

#my-content-item-text{
  padding-left: 10px;
  white-space: nowrap;
  overflow: hidden;
}

#my-content-item-icon{
  color: #d1d1d1;
}

.history-toDo-text{
  text-decoration: line-through;
}
