<div class="body">
  <div class="body--title">
    Current Tasks
  </div>
  <div>
    <div id="task-description">Task description</div>
    <div id="priority">Priority</div>
  </div>
  <div class="body--toDoText">
    <textarea id="toDoText" placeholder="Enter new task..." ng-model="home.toDoText"></textarea>
  </div>
  <div class="button--add" ng-click="home.submitToDo(home.toDoText)">
    Add
  </div>
  <div class="body--priorityText">
    <textarea id="priorityText" placeholder="high, med, low"></textarea>
  </div>
  <div  ng-repeat="toDo in home.toDos">
    <div class="body--item">{{toDo.text}}</div>
  </div>
</div>
