<div class="body">
  <div class="body--title">
    Current Tasks
  </div>
  <div>
    <div id="task-description">Task description</div>
    <div id="priority">Priority</div>
  </div>
  <div class="body--toDoText">
    <textarea id="toDoText" placeholder="Enter new task..." ng-model="home.toDoText"></textarea>
  </div>
  <div class="button--add" ng-click="home.submitToDoAndTrackExpiration(home.toDoText, home.priority)">
    Add
  </div>
  <div class="body--priorityText">
    <select name="priority" id="priorityText" ng-model="home.priority">
      <option value=3>low</option>
      <option value=2>med</option>
      <option value=1>high</option>
    </select>
  </div>
  <div  ng-repeat="toDo in home.allToDosSortedByPriority">
    <div class="body--item" ng-show="home.checkObjectKey(toDo, 'state', 'active')">{{toDo.text}}</div>
  </div>
</div>
